/* Custom CNCA */

.footer-izq {
	float: left;
	padding-bottom: 10px;
	width: 60%;
}

.navbar-brand h1{
	font-size: 50px;
}
.navbar-brand{
	font-size: 20px !important;
}

.footer-izq img {
	float: left;
	padding-right: 10px;
}

.footer-der{
	float:right;
	text-align: right;
	width: 40%;
}

.encabezado {
	display: block;
	background-image: url(../images/cnca-top.png);
	background-repeat: no-repeat;
}
.encabezado h1 {
	font-weight: bold;
}
.encabezado a {
	font-size: 14px;
}

.navbar {
		background-color: #044775 !important;
		height: 160px;
}
.trail-wrapper{
	background-color: #053454;
}
.breadcrumb{
	color: #fff !important;
}
.btn-primary{
	background-color: #044775;
}
#main-container #sidebar{
	background-color: #e1eaf0;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	background-color: #044775;
}
.main-content{
	padding-top: 50px;
}
h2{
	color: #666 !important;
	font-size: 30px;
}
.encabezado{
	padding: 20px 0;
}


@media (min-width: 768px) {

	.breadcrumb li, .breadcrumb li > a{
		color: #fff;
	}
	.trail-wrapper .breadcrumb>li+li:before{
		color: #fff;
	}
	.trail-wrapper .breadcrumb > .active{
		color: #8cccf8;
	}

	.nav {
		margin-top: 110px;
	}

	.nav .boton > a{
		background-color: #053454;
		padding: 10px 15px;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
	}

}



@font-face {
	font-family: 'gobCL';
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/gobcl_light.eot?") format("eot"), url("../fonts/gobcl_light.woff") format("woff"), url("../fonts/gobcl_light.ttf") format("truetype");
}

@font-face {
	font-family: "gobCL";
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/gobcl_regular.eot?") format("eot"), url("../fonts/gobcl_regular.woff") format("woff"), url("../fonts/gobcl_regular.ttf") format("truetype");
}
@font-face {
	font-family: "gobCL";
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/gobcl_bold.eot?") format("eot"), url("../fonts/gobcl_bold.woff") format("woff"), url("../fonts/gobcl_bold.ttf") format("truetype");
}

@font-face {
	font-family: "gobCL";
	font-weight: 900;
	font-style: normal;
	src: url("../fonts/gobcl_heavy.eot?") format("eot"), url("fonts/gobcl_heavy.woff") format("woff"), url("fonts/gobcl_heavy.ttf") format("truetype");
}

body {
	font-family: "gobCL" !important;
	font-weight: 500;
	font-style: normal;
}

@media (max-width: 768px) {

	.footer-der {
		text-align: center;
		display: block;
		width: 100%;
	}

	.footer-izq {
		text-align: center;
		display: block;
		width: 100%;
	}

	.footer-izq a img {
		display: block;
		margin: 20px auto;
		float: none;
	}
	.navbar-brand{
		font-size: 13px !important;
	}
	.navbar-brand h1{
		font-size: 35px;
	}

}


/*OCULTAR COMUNIDAD TRANSPARENCIA EN LISTA DE COMUNIDADES EN LA HOME*/
#aspect_artifactbrowser_CommunityBrowser_referenceSet_community-browser > div:nth-child(9) {
	display: none;
}
